<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Attendance Report</h1>
        <a href="/" class="btn small">Back</a>
    </header>

    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Lecture ID</th>
                        <th>Date</th>
                        <th>Wi-Fi Verified</th>
                        <th>Face Verified</th>
                        <th>Final Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>101</td>
                        <td>12 Oct 2025</td>
                        <td>✅</td>
                        <td>✅</td>
                        <td><b>Present</b></td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>13 Oct 2025</td>
                        <td>✅</td>
                        <td>❌</td>
                        <td><b>Absent</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>